<div id="content">
<p>Mmmmailing list: <a href="mailto:{{{ site.email }}}">{{ site.email }}/a></p>
<p>pppages: <a href="https://github.com/mustache/mustache.github.com">https://github.com/mustache/mustache.github.com</a></p>
</div>
